doctype html
html(lang='cs')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        meta(name='robots', content='noindex, nofollow')

        title svatba.butta.cz

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top') svatba.butta.cz
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#about') Aktuální informace
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#projects') Program
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#contacts') Kontakty

        // Masthead
        header.masthead
            .container.d-flex.h-100.align-items-center
                .mx-auto.text-center
                    h1.mx-auto.my-0.text.pb-5 26.6.2021 Svatba
                
                    h2.text-white.mx-auto.mt-2.mb-5 S radostí vám oznamujeme,<br>že dne 26. 6. 2021 se uskuteční <br> svatba Samuela Butty a Kláry Mlýnkové.
                
                    a.btn.btn-primary.js-scroll-trigger(href='#about') Více informací

        // About
        section#about.about-section.text-center
            .container
                .row
                    .col-lg-8.mx-auto
                        h2.text-black.mb-4 Aktuální informace
                        div.alert.alert-success.pb-0
                            h3.text-black.mb-1 <i class="fas fa-virus"></i> Situace ohledně covidu
                            p.text-black-50.text-lg-left
                                | Se svatbou stále počítáme a doufáme, že se <strong>uskuteční v termínu</strong> i přes současnou pandemickou situaci.
                                | O případných změnách vás budeme informovat zde na webu.
                        div.alert.alert-primary.pb-0
                            h3.text-black.mb-1 <i class="fas fa-info-circle"></i> Prosíme, potvrďte nám svoji účast
                            p.text-black-50.text-lg-left
                                | Prosíme, pro potvrzení účasti nám napište zprávu nebo e-mail. Kontakt na nás najdete v sekci v
                                a.js-scroll-trigger(href='#contacts') kontakty.

        // Projects
        section#projects.projects-section.bg-light
            .container
                .col-lg-12.mx-auto.text-center
                        h2.text.mb-4 Předběžný program
                // Project One Row
                .row.justify-content-center.no-gutters.mb-5.mb-lg-0
                    .col-lg-6
                        img.img-fluid(src='assets/img/salvator-evangelicky.jpg', alt='')
                    .col-lg-6
                        .text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h4.text-black 14:00 - Obřad
                                    p.mb-0.text-black-50
                                        | Svatební obřad se uskuteční v <a href="https://goo.gl/maps/kio7Hw5amvKRqkWa7" target="_blank">Kostele U Salvátora</a> 
                                        | (poblíž Staroměstského náměstí na Praze 1). Obřad je pro nás nejdůležitější část svatebního dne, 
                                        | prosíme proto o <strong>slavnostní oblečení</strong> a včasný příchod.
                                    hr.d-none.d-lg-block.mb-0.ml-0
                // Project Two Row
                .row.justify-content-center.no-gutters
                    .col-lg-6
                        img.img-fluid(src='assets/img/opero-vnitroblok.jpg', alt='')
                    .col-lg-6.order-lg-first
                        .bg.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h4.text-black 15:00 - Hostina
                                    p.mb-0.text-black-50
                                        | Po obřadu se přesuneme přes ulici do prostor objektu <a href="https://goo.gl/maps/DtADVGtWn6Hx7Q2X6" target="_blank">Opero.</a>
                                        | Zde společně strávíme celé odpoledne a večer.
                                    br
                                    p.mb-0.text-black-50
                                        | Hostina bude formou rautu a bude se jednat spíše o <strong>dřívější večeři.</strong> 
                                        | Po společné polévce si budete moci vybírat z několika studených i teplých jídel.
                                    hr.d-none.d-lg-block.mb-0.mr-0
                // Project Three Row
                .row.justify-content-center.no-gutters.mb-5.mb-lg-0
                    .col-lg-6
                        img.img-fluid(src='assets/img/party.jpg', alt='')
                    .col-lg-6
                        .text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h4.text-black 22:00 - After party
                                    p.mb-0.text-black-50
                                        | Kdo ještě nebude unavený, může se s námi přesnuout na <strong>drink a tanec</strong> 
                                        | do nedalekého podniku. Přesun bude zajištěn taxíky.
                                    hr.d-none.d-lg-block.mb-0.ml-0
        // Contact
        section#contacts.contact-section.bg-secondary
            .container
                .row
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-map-marked-alt.text-primary.mb-2
                                h3.text.m-0 Adresa obřadu
                                hr.my-4
                                .text-black
                                    | Kostel U Salvátora
                                    br
                                    | Salvátorská 1110 00 Praha 1
                                    br
                                    | Staré Město
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-envelope.text-primary.mb-2
                                h3.text.m-0 E-mail
                                hr.my-4
                                .text-black
                                    | samuel@butta.cz
                                    br
                                    | klara.mlynkova@gmail.com
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-mobile-alt.text-primary.mb-2
                                h3.text.m-0 Telefon
                                hr.my-4
                                .text-black 
                                    | +420 775 984 272 (Sam)
                                    br
                                    | +420 720 515 674 (Klára)
        // Footer
        footer.footer.bg-secondary.small.text-center.text-black-50
            .container
                | Copyright © svatba.butta.cz 2021

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')
